@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(28, 28, 28);
}

._kuromi_card {
    width: 500px;
    transition: all .3s;
}

._kuromi_card:hover {
    transform: scale(1.05);
}

._bs_container-fluid {
    padding: 2rem;
}

._kuromi_card_avatar {
    width: 150px;
    height: 150px;
    background-image: var(--data-image);
    background-size: cover;
    margin-top: -5rem;
    /* box-shadow: inset 0 0 0 5px rgb(255 65 65 / 50%); */
    box-shadow: 0 0 35px 15px rgba(31, 31, 31, 0.5);
}

._kuromi_transall {
    transition: all .2s;
}

._kuromi_op {
    transition: all .35s;
    opacity: 0;
    display: none!important;
}

._kuromi_op.active-1 {
    display: flex!important;
}

._kuromi_op.active-2 {
    opacity: 1;
}